@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$app-colors: (
  "app-gray": rgba(299, 299, 299, 1),
);

$theme-colors: map-merge($theme-colors, $app-colors);

$app-font-sizes: (
  "app-xs": 1.2rem,
  "app-sm": 1.4rem,
  "app-base": 1.6rem,
  "app-lg": 1.8rem,
  "app-xl": 2.2rem,
  "app-h1": 3.6rem,
  "app-h2": 3.2rem,
  "app-h3": 2.6rem,
);

$font-sizes: map-merge($font-sizes, $app-font-sizes);

$app-spacers: (
  "app-1": 1rem,
  "app-2": 2rem,
  "app-3": 3rem,
  "app-4": 4rem,
  "app-5": 5rem,
  "app-6": 6rem,
  "app-7": 7rem,
  "app-8": 8rem,
  "app-9": 9rem,
  "app-10": 10rem,
  "app-20": 20rem,
);

$spacers: map-merge($spacers, $app-spacers);


@import "../../node_modules/bootstrap/scss/bootstrap.scss"
